<!-- Created assets/css/style.css -->
.new-class-1745828764 { margin: 10px; }
.new-class-1745828767 { margin: 10px; }
.new-class-1745828767 { margin: 10px; }
.new-class-1745828768 { margin: 10px; }
.new-class-1745828769 { margin: 10px; }
.new-class-1745829017 { margin: 10px; }
.new-class-1745829018 { margin: 10px; }
.new-class-1745829018 { margin: 10px; }
.new-class-1745829019 { margin: 10px; }
.new-class-1745829638 { margin: 10px; }
.new-class-1745829639 { margin: 10px; }
